<div class="create-publisher">
    <h2>Create New Publisher</h2>
    
    <form action="/publishers/create" method="POST">
        <div>
            <label>Name:</label>
            <input type="text" name="name" required>
        </div>
        <button type="submit">Create Publisher</button>
    </form>
</div>