<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/" class="nav-button">Home</a></li>
        <li><a href="/games" class="nav-button">Games</a></li>
        <li><a href="/publishers" class="nav-button">Publishers</a></li>
        <li><a href="/genres" class="nav-button">Genres</a></li>
    </ul>
</nav>
